
extends tests

block content
	h1.center Fill in the blanks
	#navigation.bigText.center
		.center.divStd	
			a.stdAnc(href="/") Home
			a.stdAnc(href="/test") Back
	#content
		form.center.bigText#fillForm
			#menu
				label(for="numberRounds")#numberLabel Rounds: 
				input(type="number", value="3", min="1")#numberRounds
				input(type="button", value="Begin")#beginButton
				input(type="button", value="End", style="display:none;")#endButton
			#quiz(style="display:none;")
				#letterPanel
				.center
					input(type="text").center.block.centerOut#checkText
				#controlPanel
					h2(style="display:none;").center.learnt#correct
					p.center#def
					.center
						input(type="submit", value="Check")#checkButton
						input(type="button", value="Next")#nextButton
		.center
			table(style="display:none;")#stats
				thead
					tr
						th Word
						th Hits
						th Overall
				tbody#results
				tfoot#footer
