
extends search

prepend content
	#userPanel.clri.abso
		form#loginForm
			fieldset#opa.opa
				#registerWrapper.divStd
					p.textStd You don't have an account?
					h4.textStd Register now!
					input(type="button", value="Register").center.block#buttonRegister
				h2#userInfo.info #{userId}
				#loginWrapper
					.block
						input(type="text")#loginId
						label(for="loginId") User
					.block
						input(type="password")#loginPass
						label(for="loginPass") Password
				#studyWrapper.block
					a(href="/learn").stdAnc Go learn!
					a(href="/test").stdAnc Go test!
				.floatLeft
					input(type="submit", value="Log in")#buttonLogin
				.floatRight
					input(type="button", value="Delete user")#buttonDelete

prepend engineOpts
	input(type="text")#textWord
	input(type="submit", value="Search")#buttonWord

append engineChapter
	input(type="button", value="Show chapters")#chapterButton
	
block engineRest
	fieldset
		input(type="button", value="Show all")#buttonAll
	#def

block modify
	.floatLeft
		form#editForm.searchRes
			fieldset
				label(for="word") Word
				input(type="text")#word.block
				label(for="type") Class
				select#type.block
				label(for="pronunciation") Pronunciation
				input(type="text")#pronunciation.block
				label(for="explanation") Explanation
				textarea(rows="9", cols="30")#explanation.block
				label(for="chapter") Chapter
				input(type="number", value="0")#chapter.block
				.block
					input(type="checkbox")#important
					label(for="important") Important
				p#learnt
			fieldset#letters
			fieldset
				input(type="submit", value="Save")#save
				input(type="button", value="Delete")#del
				p#info.info

block WR
	.wrcont.floatLeft.divStd.halfPage
		iframe(width="100%", height="100%")#WRiframe
