
extends search

prepend content
	div
		h1.block.center Test
		#header.bigText.center
			.block
				.divStd.center
					a.stdAnc(href="/") Home
					a.stdAnc(href="/test/fill").testAnc Fill in the blanks
					a.stdAnc(href="/test/match").testAnc Match

prepend engineChapter
	.block
		h2 Words: 
			span#wordNumber
		input(type="checkbox", id="chapterCheck", checked="checked")
		label(for="chapterCheck") All chapters
	label(for="chapterText", id="chapterLabel").block Choose chapters:

append scripts
	script(src="/javascripts/test.js", type="text/javascript")
