
extends search

prepend content
	h1.block.center Test
	#header.center
		.block
			.divStd.center
				a.stdAnc(href="/") Home
				a.stdAnc(href="/test/fill").testAnc Fill in the blanks

prepend engineChapter
	.block
		input(type="checkbox", id="chapterCheck", checked="checked")
		label(for="chapterCheck") All chapters
	label(for="chapterText", id="chapterLabel").block Choose chapters:
