body {
  padding: 5px;
	margin: none;
  font-size: 16px;
	background-color: #000;
	color: #f60;
}

#studyWrapper {
	padding: 1em;
}

a {
	text-decoration: none;
	transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}

a:hover {
	color: #0f0;
}

.stdAnc {
	color: #f60;
	padding: 0.2em;
	margin: 1em;
	background-color: black;
}

.title {
	color: #fc0;
	text-align: center;
	font: 5em Garamond, serif;
	font-weight: bold;
	margin: 0.2em;
}

.block {
	display: block;
}

select {
	border: 1px solid #aaa;
}

fieldset, input, textarea, .divStd, a, p, select {
	font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

input, select, textarea {
	background-color: #000;
	color: #fc0;
}

fieldset, input, textarea, .divStd, select, .stdAnc {
	border-radius: 5px;
	border-top: 1px solid #996;
	border-left: 1px solid #996;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

input, select, textarea, a {
	transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}

input:hover, select:hover, textarea:hover, .stdAnc:hover {
	color: #000;
	background-color: #996;
}

.searchRes {
	width: 25em;
}

em {
	font-weight: bold;
}

h2 {
	margin: 0.2em;
}

.notlearnt {
	color: #f00;
}

.learnt {
	color: #0f0;
}

.info {
	font-size: 1.5em;
	color: #ff0;
	font-weight: bold;
}

p, h4, .info {
	text-align: center;
}

#buttonRegister {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.textStd {
	margin: 0.5em;
}

.floatLeft {
	display: inline;
	float: left;
}

.floatRight {
	float: right;
	display: inline;
}

.divStd {
	background-color: #292912;
	margin: 0.5em;
	padding: 0.4em;
}

.abso {
	position: absolute;
	z-index: 10000;
	border-radius: 6px;
}

.wrcont {
	width: 40%;
	height: 80%;
}

.clri {
	right: 2%;
	top: 2%;
}

.cl {
	right: 50%;
	top: 35%;
}

#loginForm {
	background-color: #292912;
}

.opa {
	opacity: 0.2;
	transition: all 0.3s ease-in-out 0.05s;
	-moz-transition: all 0.3s ease-in-out 0.05s;
	-webkit-transition: all 0.3s ease-in-out 0.05s;
	-o-transition: all 0.3s ease-in-out 0.05s;
}

.opa:hover {
	opacity: 1.0;
}

.foundWord {
	color: #ff0;
}

.foundWord:hover {
	color: #0f0;
}
